.app__container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.app__main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 85%;
    height: 80%;
    max-width: 90rem;
    background-color: #404852;
    border-radius: 33px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25),
        -4px -4px 4px rgba(255, 255, 255, 0.08);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

    >div {
        padding: 1.25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1, h2, h3, h4, h5 {
        font-weight: 500;
        color: #C8B5AC;
    }
}


.app__input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

    >button {
        margin-top: 1rem;
    }

    &--info {
        width: 100%;
        margin: 0.5rem auto;
        h3, h4 {
            color: white;
            margin: 0;
            padding: 0;
        }
        p {
            margin: 0;
            padding: 0;
            color: #b3b3b3;
            font-size: 0.8rem;
        }
    }
}

.app__right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100%;
    overflow: hidden;

    >div {
        margin-top: 2rem;
    }
}

.app__action-info {
    display: flex;
    margin: auto auto 1rem auto;
    color: white !important;
    >div {
        margin: auto 0.5rem;
    }

    &--svg_container {
        cursor: pointer;
        width: 2rem;
        height: 2rem;
    }
}