.neoButton {
    transform: background-color 0.2s ease-in-out;

    background: #404852;
    box-shadow: -4px -4px 4px rgba(255, 255, 255, 0.1),
        4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border: none;
    cursor: pointer;

    color: #BFBFBF;
    font-size: 1.125rem;
    line-height: 1.3125rem;

    padding: 0.595rem 5rem;

    &:active {
        background-color: #363c44;
    }
}